#calendarContainer{
    position: fixed;
    height:90%;
    width:30%;
    top:5%;
    gap:5%;
    right:2%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#todayContainer{
    flex-direction: column;
    height:50%;
    width:100%;
    border:solid var(--border-color);
    border-radius: 50px;
    box-shadow:  3px 3px 10px var(--shadow-color);
}
#todayList{
    flex-direction: column;
    height:90%;
    width:100%;
    border-radius: 50px;
    color:var(--text-color);
}
#upcomingContainer{
    flex-direction: column;
    height:50%;
    width:100%;
    border:solid var(--border-color);
    border-radius: 50px;
    box-shadow:  3px 3px 10px var(--shadow-color);
}
#upcomingList{
    flex-direction: column;
    height:90%;
    width:100%;
    border-radius: 50px;
    color:var(--text-color);
}
.eventItem{
  display: flex;
  margin:5%;
  justify-content: flex-end;
  flex-direction: row-reverse;
  font-size: clamp(35px, 1vw, 90px);
}
.fa-star{
    color:var(--accent-color);
}