:root{
  --bg-color: white;
  --border-color: white;
  --shadow-color:rgba(124, 119, 119, 0.63);
  --text-color: black;
  --accent-color: rgb(214, 232, 232);
 
}
body{
    background: var(--bg-color);
    font-family: "Ubuntu Sans Mono", monospace;
    display: flex;
    flex-direction: row;
    gap:10%;
}
body.dark-mode{
  --bg-color: rgb(42, 45, 54);
  --border-color:rgb(42, 45, 54);
  --shadow-color:rgb(19, 19, 19);
  --text-color: white;
  --accent-color: rgb(74, 85, 85);
}
.TitleContainers{
    display:flex;
    justify-content: center;
}
.Titles{
    font-size:30px;
    margin: 0;
    color:var(--text-color);
    user-select: none; /* Prevents user from selecting the text */
}
