#smiskiContainer{
    position: fixed;
    display: flex;
    justify-content: center;
    left:50%;
    transform: translateX(-50%);
    height:15%;
    width:30%;
    bottom:5%;
    border:solid rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgba(124, 119, 119, 0.63);
}
img{
    max-height:auto;
    min-width: auto;
}